# Copy this file to .env and fill in your values
# DO NOT push .env to GitHub

MONGO_URI=your_mongodb_atlas_connection_string_here
PORT=5000
MODEL_PATH=drone_model_files/drone_classifier_final.keras
MODEL_ACCURACY=97
